/*
Author: Steve Culmer
Date:  6 jul 24
File Name:  styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rules for body and images */
body {
		background-color: #f6eee4;
}

img{
	max-width: 100%;
	display: block;
}

/* Style rule for box sizing applies to all elements */
*{
    box-sizing: border-box;
}

/* Style rules for mobile viewport */

/* Style rule for header */
header {
	width: 100%;
	float: center;
}

header img {
    margin: 0 auto;
}

/* Style rules for navigation area */
nav {
	padding: 1%;
	margin-bottom: 1%;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: 'Francois One', sans-serif;
    border-top: 1px solid #000;    
}

nav li a {
	display: block;
	color: #000;
	text-align: center;
	padding: 0.5em 1em;
	text-decoration: none;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

/* Style rules for main content */
main {
    background-color: #fff;
    padding: 2%;
    font-size: 1.15em;
    font-family: 'Roboto Slab', serif;
}

.mobile h3 {
    text-shadow: 5px 5px 8px #ccc;
}

article {
    padding: 2%;
}

article h3 {
    text-align: center;
}

article img {
    margin: 0 auto;
}

article ul {
    margin-left: 10%;
}

article:nth-of-type(2) {
    background-color: rgba(204, 204, 204, 0.3);
}

.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
    text-shadow: 5px 5px 8px #ccc;
}

.frame {
    position: relative;
    max-width: 450px;
    margin: 2% auto
}

.pic-text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

#birth, #highschool, #militaryhistory, #marriage {
    margin: 0 2%;
}

/* Style rules for footer content */
footer p {
    font-size: 0.75em;
    text-align: center;
    color: #000;
    padding: 0 1em
}

footer p a {
    color: #000;
    text-decoration: none;
}